torch==2.11.0 --index-url https://download.pytorch.org/whl/cu126
torchvision==0.26.0 --index-url https://download.pytorch.org/whl/cu126
pytorch-lightning==2.6.5
lightning==2.6.5
jsonargparse[signatures]>=4.27.7
tensorboard
tensorboardx
albumentations==1.4.4
omegaconf
einops
requests
transformers==4.37.2
lpips
av
decord
wandb
Pillow
triton-windows==3.7.0.post26
xformers==0.0.35
